* { 
    padding: 0;
    margin: 0;
    /* background-color: var(--color9); */
    color: var(--color1);

}
p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700 bold;
}
h2 {
    font-size: 24px;
    line-height: 34;
    font-weight: 600 bold;
}
label {
    color: var(--color10);
    font-weight: 700;
}
:root {
    --color1: #010B0C; 
    --color2: #00468C; /*azul escuro*/
    --color3: #0466C8; /*azul medio*/
    --color4: #2C89E7; /*azul claro*/
    --color5: #1A1A1A; 
    --color6: #8731EB;
    --color7: #A1A1A1;
    --color8: #F7F7F7;
    --color9: rgba(0, 0, 0, 0.35);
    --color10: #232828; /*bg formulario*/


}
/* COLOR BG */
.colorbg {
    background-color: var(--color10);
}
/* COLOR BG */
.bgform {
    background-color: var(--color9);
    border-radius: 10px;
}
.titleform {
    font-size: 48px;
    font-weight: 800;
}
.titleform2 {
    font-size: 60px;
    font-weight: 1000;
    margin-top: 0px;
}
.textForm {
    color: #00468C;
    max-width: 300px;

}
/* NAVBAR */
.navbar-toggler img {
    width: 30px;
    color: var(--color8);
}
.navbar div a {
    color: var(--color8);
    font-size: 18px;
    font-weight: 600;
    transition:  0.3s ease;
    text-decoration: none;
}
.navbar div a:hover {
    color: var(--color3);
    font-weight: 800;
    font-size: 1.5em;
    text-shadow: 1px 1px 1rem var(--color9);
} 
/* IMAGEM O TOQUE */
.oToque img{
    width: 100%;
}
/* ICONE FLUTUANTE WHATSAPP */
.whatsappLink {
    position: fixed;
    cursor: pointer;
    width: 65px;
    height: 65px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #ffff;
    border-radius: 50px;
    text-align: center;
    font-size: 36px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
/* FORMULARIO */
.form-content {
    position: relative;
}
.form-content input {
    border-radius: 8px;
    border: 2px solid var(--color8);
}
.form-content a {
    position: absolute;
    font-size: 10px;
    bottom: -20px;
    left: 20px;
    visibility: hidden;
}
.button-submit {
    background-color: var(--color3);
    width: 100%;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}
.form-content.error input {
    border-color: var(--color6);
    border: 3px solid var(--color6);
}
.form-content.error a {
    color: var(--color6);
    text-decoration: none;
    font-weight: 800;
    visibility: visible;
}
/* FOOTER */
.contentFooter h3 {
    color: var(--color3);
    margin: 1.2rem;
    font-weight: 700;
}
.contentFooter li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--color7);
}